{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="text-center mt-5"> 
    <h1>이색 애완동물 성장일지</h1>
</div>

<br>
{% if user.is_authenticated%}
<h4><a class="nav-link" href="{% url "account_logout" %}">user : {{user.get_username}}</a></h4>

{% else %}

<h6><a class="nav-link" href="{% url "account_login" %}">로그인 / 회원가입</a><h6>

{% endif %}

<br>
<form action="/" id="headerForm" method="GET">
    {% csrf_token %}

    <select name="rearing" onchange="submitForm()">
        <option value="total" {% if rearing == "tital" %} selected {% endif %}>전체</option>
        <option value="true" {% if rearing == "true" %} selected {% endif %}>사육중</option>
        <option value="false" {% if rearing == "false" %} selected {% endif %}>사육종료</option>
    </select>
</form>

<div class="box mt-3">
<h2>Pet ({{petsCnt}})</h2>

{% if user.is_authenticated %}
<ul>

{% for pet in pets %}

<h5><li><a class="nav-link" href="/recordList/{{pet.id}}">{{pet.name}} ({{ pet.species }})</a></li></h5>

{% endfor %}
{% endif %} 

</ul>

</div><br>

<div class="btnIcon"> 
    <a href="{% url "record:addPet" %}"><img src="{% static "record/img/plus4.png" %}" style="width:50px"></a>
</div>


{% comment %} 폼 제줄 {% endcomment %}
<script th:inline="javascript">
  
    var searchForm = $("#headerForm");
  
    function submitForm() {
      searchForm.submit();
    }
  
</script>
{% endblock %}
