{% extends 'layout.html' %}

{% block content %}
<br><br><br>

<div style="margin-left:30px">
<h3>날짜 : {{ object.date|date:'Y.m.d' }}</h3>
<h3>무게 : {% if object.weight %}{{ object.weight }}{% else %}-{% endif %}</h3>
<h3>피딩 : {% if object.feeding %}{{ object.feeding }}{% else %}-{% endif %}</h3>
<h3>피딩무게 : {% if object.feedingWeight %}{{ object.feedingWeight }}{% else %}-{% endif %}</h3>

<h3>탈피 : {% if object.molting %}Yes{% else %}No{% endif %}</h3>

{% if object.image %}
<div class="image_box">
    <img class="image" src="{{ object.image.url }}">
</div>
{% endif %}

</div>

<br><br>


<div class="text-center">
<a href="{% url "record:updateRecord" pk=object.id%}?filter={{filter}}&ordering={{ordering}}&page={{page}}">
    <botton class="btn btn-secondary" style="width:120px">수정</button>
</a>
&nbsp&nbsp&nbsp
<a href="{% url "record:deleteRecord" pk=object.id%}?filter={{filter}}&ordering={{ordering}}&page={{page}}">
    <botton class="btn btn-danger" style="width:120px">삭제</button>
</a>
</div>
<br><br>
{% endblock %}